.event
{
    width: 200px;
    background-color: lightgrey;
    margin: 20px;
}

.event-title
{
    text-align: center;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

body{
    overflow: auto !important;
}
.modal {
    position: absolute;/*
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.event-description{
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    text-align: justify;
}

.event-delete-button{
    float: right;
    color: #9f191f;
}

.event-edit-button{
    color: white;
}

.event-options{
    padding-top: 10px;
}

.spacer{
    height: 10px;
}