{% extends 'base.html.twig' %}

{% block body %}
    {#<div id="myModal"></div>#}
    {#<div class="col-md-12">


        <div id="draggable" class="ui-widget-content well event">
            <p>Drag me around
            sadsa
            sadsd
            asd
            sad
            sad
            sad</p>

        </div>
    </div>#}
    <form class="form-wizard">
        <h2 class="form-wizard-heading">BootStrap Wizzard Form</h2>
        <input type="text" value=""/>
    </form>

    <form  id="myform3" class="form-wizard">
        <h2 class="form-wizard-heading">BootStrap Wizzard Form</h2>
        <input type="text" value=""/>
        {#<input id="submitButton3" type="submit"/>#}
        <button class="modalSubmitButton">Submit Form </button>
    </form>

    <form id="myform2" class="form-wizard">
        <h2 class="form-wizard-heading">BootStrap Wizzard Form</h2>
        <input type="text" value=""/>
        <input type="text" value=""/>
        {#<input id="submitButton3" type="submit"/>#}
        <button class="modalSubmitButton">Submit Form </button>
    </form>

    <form id="myform" class="form-wizard">
        <h2 class="form-wizard-heading">BootStrap Wizzard Form</h2>
        <input type="text" value=""/>
        <input type="text" value=""/>

        <input type="text" value=""/>
        <input type="text" value=""/>

        {#<input id="submitButton3" type="submit"/>#}
        <button class="modalSubmitButton">Submit Form </button>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                    <h1>H1</h1>
                    <h1>H1</h1>
                </div>
                <div class="modal-footer">
                    <button id="modalCloseButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#<script>
        $( function() {
            $( "#draggable" ).draggable();
        } );
    </script>#}
    <script>
        $('#myModal').on('shown.bs.modal', function () {


            // get the viewport height
            var viewportHeight = $(window).height();
            console.log ('viewportHeight = ' + viewportHeight);


            // get the viewport width
            var viewportWidth = $(window).width();
            console.log ('viewportWidth = ' + viewportWidth);

            var modalDialogHeight = $(this).find('.modal-dialog').outerHeight(true);
            console.log ('modalDialogHeight = ' + modalDialogHeight);

            var modalDialogWidth = $(this).find('.modal-dialog').outerWidth(true);
            console.log ('modalDialogWidth = ' + modalDialogWidth);

            var parentHeight = $( window ).height();
            var modal = $('#myModal');
            var top = modal.offset().top;

            console.log('Top offset = ' + top);
            console.log('Parent height = '+ parentHeight);

            if(parseInt(top)+parseInt(modalDialogHeight)>parseInt(parentHeight)) {
                top=parseInt(parentHeight)-parseInt(modalDialogHeight);

                modal.css("top", top);
                console.log("Top offset changed to: "+top);
            }

            //When the browser window is being resized
            var modalContentWidthHeight = function () {

                var modalContentWidth = $('#myModal').find('.modal-content').outerWidth(true);
                console.log ('modalContentWidth = ' + modalContentWidth);

                var modalContentHeight = $('#myModal').find('.modal-content').outerHeight(true);
                console.log ('modalContentHeight = ' + modalContentHeight);
            };

            $(window).resize(modalContentWidthHeight);

        });

        /*$('#myform').on('submit', function(ev) {
            var modal = $('#myModal').modal('show');
            var button = $('#modalSubmitButton');
            var offset = button.offset();
            var top=offset.top;
            modal.css("top", top);

            var parentWidth = $( window ).width();
            var left = parseInt(offset.left)- (parseInt(parentWidth)/2 );
            modal.css("left",left);

            ev.preventDefault()});
*/
        $('.modalSubmitButton').click(function (ev) {
            var modal = $('#myModal').modal('show');
            var button = $(ev.target);
            var offset = button.offset();
            var top = offset.top;
            modal.css("top",top);

            var windowWidth = $(window).width();
            var leftOffset = parseInt(offset.left)-(parseInt(windowWidth)/2);
            modal.css("left",leftOffset);

            ev.preventDefault()
        });

        $('#modalCloseButton').click(function() {
            $('#myModal').modal('hide');
        });

    </script>
{% endblock %}